.letter-colors{
    width: 42vw;
    display:flex;
    align-content: center;
    font-size: 2vw;
}


#wblack{
    color:black;
}

#wteal{
    color: teal;
}

#wblue {
    color: blue;
}

#wnavy {
    color: navy;
}

#wlime {
    color: lime;
}

#wwhite {
    color: white;
}

#wpurple{
    color: purple;
}

#wyellow {
    color: yellow;
}

#wolive{
    color: olive;
}

#wred{
    color: red;
}

#wmarron {
    color: maroon;
}

#wgray{
    color: gray;
}

#wfuchsia{
    color: fuchsia;
}

#wgreen{
    color: green;
}

#waqua{
    color: aqua;
}

#wsilver{
    color: silver;
}